/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
}

.flex{
    display: flex;
}

header{
    border: 4px solid blue;
    height: 10vh;
    justify-content: flex-end;
}

.navigation{
    align-items: center;
}

.icon{
    border: 2px solid red;
    margin-right: 10px;
}

.container{
    margin: 0 10rem;
    border: 4px solid violet;
    height: 100vh;
}

.profile{
    position: relative;
    height: calc(100% / 7);
    width: calc(100% / 7);
    border: 2px solid green;
}

.microphone-name{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 6vw;
    height: 3vh;
    border: 2px solid orange;
}