/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
}

.size{
    font-size: 1.5rem;
}

.flex{
    display: flex;
}

header{
    height: 10vh;
    justify-content: flex-end;
}

.navigation{
    align-items: center;
}

.grey-plus{
    background-color: #4A4A4A;
    padding: .5rem;
    border-radius: 10px;
}

.icon{
    margin: 0 10px;
}

.container{
    margin: 0 10rem;
    height: 100vh;
    flex-wrap: wrap;
}

.profile{
    position: relative;
    height: calc(100% / 7);
    /* width: calc(100% / 6); */
    margin: 10px;
}

.microphone-name{
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 6vw;
    height: 3vh;
    background-color: #4A4A4A;
    font-size: 1.5rem
}

footer{
    background-color: #222222;
    height: 10vh;
    justify-content: space-between;
}

.foot-left{
    padding-left: 1rem;
    align-items: center;
    font-size: 3rem;
}

.upper-menu{
    font-size: 1.5rem;
    align-items: center;
}

.foot-center{
    font-size: 3rem;
    align-items: center;
}

.foot-right{
    justify-content: flex-end;
}

.end-button{
    padding: 1rem;
    background-color: #4A4A4A;
    align-items: center;
}

h2{
    color: red;
    padding: 10px;
}

.center{
    text-align: center;
}

.under-text{
    padding-top: 10px;
    font-size: 1rem;
    color: white;
}

.green{
    color: lime;
}

img{
    width: 100%;
    background-position: center;
}